@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Book List -->
<div class="row">
    @foreach (var book in ViewBag.BookList)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">@book.Desc</p>
                <div class="card-footer row align-items-end">
                    <div class="col">
                        <p>Stock: @book.Stock.ToString()</p>
                    </div>
                    <div class="col">
                        @if (book.Stock == 0)
                        {
                            <button type="button" id="btnReserve" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-title="@book.Title" data-bs-id="@book.id" disabled>Reserve</button>
                        }
                        else
                        {
                            <button type="button" id="btnReserve" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-title="@book.Title" data-bs-id="@book.id">Reserve</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="confirmReserve" class="btn btn-primary" asp-controller="Home" asp-action="Reserve">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    const Modal = document.getElementById('Modal')
    
    Modal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const bookId = button.getAttribute('data-bs-id')
        document.getElementById('confirmReserve').setAttribute("asp-route-id", bookId)
        const bookTitle = button.getAttribute('data-bs-title')
        const modalBody = Modal.querySelector('.modal-body')
        modalBody.textContent = `Are you sure want to reserve [${bookTitle}]?`
        
    })
</script>